extends index

block posts
    div#postblock
        for post in postlist
            div#postcard
                div#postcardinner
                    h4#postTitle #{post.title}
                    div#postText #{post.text}
            br
